.hero {
    margin-bottom:70px;
}
.hero .hero__image {
    height:400px;
    margin-bottom:-100px;
    background-size:cover;
    background-position:center center;
    border-radius:16px;
}

.specials.section {
    padding-top:70px;
    padding-bottom:70px;
}

.testimonials.section {
    padding-top:100px;
    padding-bottom:100px;
}