:root {
  --primary-color: #495e57;
  --secondary-color: #f4ce14;
  --accent-color: #ee9972;
  --accent-lighten-color: #fbdabb;
  --success-color: #4DAA57;
  --error-color: #DC602E;
  --surface-color: #edefee;
  --elevated-color: rgba(73, 94, 87, .4);
  --text-color: #333333;
}

.markazi-text {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing:border-box;
}

html, body {
  font-family: "Karla", sans-serif;
  font-size:16px;
  color:var(--text-color);
  background-color:var(--elevated-color);
}

#root {
  background-color:#fff;
}

@media screen and (max-width: 599px) {
  html, body {
    font-size:14px;
  }
}

/* Colors */
.bg--primary {
  background-color:var(--primary-color);
  color:#fff;
  caret-color:#fff;
}

.bg--secondary {
  background-color:var(--secondary-color);
  color:var(--text-color);
  caret-color:var(--text-color);
}

.bg--surface {
  background-color:var(--surface-color);
  color:var(--text-color);
  caret-color:var(--text-color);
}

.bg--elevated {
  background-color:var(--elevated-color);
  color:var(--text-color);
  caret-color:var(--text-color);
}

.bg--white {
  background-color:#fff;
  color:var(--text-color);
  caret-color:var(--text-color);
}

.text--primary {
  color:var(--primary-color);
}

.text--secondary {
  color:var(--secondary-color);
}

.text--accent {
  color:var(--accent-color);
}

.text--success {
  color:var(--success-color);
}

/* Typography */
h1,.text-h1, h2, .text-h2, h4, .text-h4 {
  font-family: "Markazi Text", serif;
  line-height:1.1;
  font-weight:500;
  margin:0;
}

h1, .text-h1 {
  font-size:4rem;
  line-height:3.5rem;
}

h2, .text-h2 {
  font-size:2.5rem;
}

h3, .text-h3 {
  font-size:1.25rem;
  line-height:1.1;
  font-weight:900;
  text-transform:uppercase;
  margin:0;
}

h4, .text-h4 {
  font-size:1.125rem;
  line-height:1.1;
  font-weight:500;
  margin:0;
}

.lead-text {
  font-size:1.5rem;
  font-weight:700;
}

.subtitle {
  font-size:1.25rem;
  font-weight:700;
}

a {
  color:inherit;
  text-decoration:none;
}

.text-right {
  text-align:right;
}

.text-center {
  text-align:center;
}

.text-justify {
  text-align:justify;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: inherit;
  cursor: pointer;
  outline: none;
}

/* Section */
.section {
  padding:30px 70px;
}

.section .section__inner {
  max-width:860px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}

@media screen and (max-width: 599px) {
  .section{
    padding-left:24px;
    padding-right:24px;
  }
}

/* Interactive */
.interaction {
  position:relative;
}

.interaction::before {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius:inherit;
  background-color:currentColor;
  opacity:0;
  transition:opacity .2s ease-out;
}
.interaction:hover::before {
  opacity:.08;
}
.interaction:active::before {
  opacity:.16;
}

.btn {
  display:inline-flex;
  justify-content:center;
  align-items:center;
  gap:8px;
  height:44px;
  padding:0 20px;
  border-radius:14px;
  font-size:1.25rem;
  font-weight:700;
}
.btn.btn--size-large {
  height:60px;
  padding:0 24px;
}
.btn.btn--icon {
  width:44px;
  padding:0;
}
.btn:disabled {
  opacity:.5;
  cursor:default;
}

.btn-link {
  display:inline-flex;
  align-items:center;
  gap:8px;
  font-size:1rem;
  font-weight:700;
}
.btn-link:hover {
  text-decoration: underline;
}

/* Card */
.card {
  display:flex;
  flex-direction:column;
  height:100%;
}

.card > * {
  width:100%;
}

.card .card__image {
  height:185px;
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}

.card .card__content {
  padding:24px;
  flex-grow:1;
  display:flex;
  flex-direction:column;
  gap:16px;
}

.card .card__content .card__title {
  display:flex;
  align-items:center;
  gap:8px;
  font-family: "Markazi Text", serif;
  font-size:1.5rem;
  line-height:1;
  font-weight:500;
}

.card .card__content .card__text {
  flex-grow:1;
  font-size:1rem;
  color:var(--primary-color);
  margin:0;
}

/* Form */
input,
select,
textarea {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-field .form-field__field {
  height:40px;
  background-color:var(--surface-color);
  border-radius:6px;
  position:relative;
  box-shadow:0 2px 4px 0 rgba(0,0,0,.25);
  margin-bottom:4px;
}

.form-field label {
  display:block;
  margin-bottom:4px;
}

.form-field .form-field__field .form-field__icon {
  position:absolute;
  top:50%;
  left:12px;
  transform:translateY(-50%);
  color:var(--primary-color);
}

.form-field .form-field__field input, .form-field .form-field__field select {
  position:relative;
  width:100%;
  height:100%;
  padding:0 8px 0 20px;
  border-radius:inherit;
}
.form-field .form-field__field .form-field__icon + input, .form-field .form-field__field .form-field__icon + select {
  padding-left:48px;
}

.form-field .form-field__field input:focus, .form-field .form-field__field select:focus {
  background-color:rgba(0,0,0,.08);
}

.form-field .form-field__error {
  min-height:1.25rem;
  margin-bottom:-1.25rem;
  color:var(--error-color);
}