:root {
  --primary-color: #495e57;
  --secondary-color: #f4ce14;
  --accent-color: #ee9972;
  --accent-lighten-color: #fbdabb;
  --surface-color: #edefee;
  --text-color: #333333;
}

.markazi-text {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing:border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size:16px;
}

h1, h2, h4 {
  font-family: "Markazi Text", serif;
  line-height:1.1;
  font-weight:500;
  margin:0;
}

h1 {
  font-size:4rem;
}

h2 {
  font-size:2.5rem;
}

h3 {
  font-size:1.25rem;
  line-height:1.1;
  font-weight:900;
  text-transform:uppercase;
  margin:0;
}

h4 {
  font-size:1.125rem;
  line-height:1.1;
  font-weight:500;
  margin:0;
}

.section {
  padding:30px 70px;
}

.section .section__inner {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}

@media screen and (max-width: 599px) {
  .section{
    padding-left:20px;
    padding-right:20px;
  }
}